body {
  font: 'Montserrat';
  text-align: center;
}

/* text */

p {
  color: #8f8f8f;
}

.title-heading{
  font: 'Montserrat-Black';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.feature-text,.section-heading{
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

.testimonial-text,.pricing-text{
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

.cta-text{
  font-size: 3.5rem;
  font-weight: bold;
}

/* title-image */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

.title-image {
  width: 20%;
  right : 25%;
  transform: rotate(25deg);
  position: absolute;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/*--Navigation bar--*/

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download Button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Feature-section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 5%;
}


/* icon-hover */

.fa {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fa:hover {
  color: #ff4c68;
}

/* testimonials-section */

#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press-section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}

/* Pricing-section */

#pricing{
  padding: 80px;
}
.pricing-column{
  padding: 3% 5%;
}

/* CalltoAction */

#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  color:#fff;
}

/* footer */

#footer{
  padding: 7% 15%;
  background-color: #fff;
}

.social{
  margin: 20px 10px;
}

/* media */

@media (max-width : 1028px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    width: 70%;
    transform: rotate(0);
  }
}
